<h1>Flight Booker</h1>

<%= form_with url: "/flights", method: :get do |f| %>
    <%= f.label :departing_airport_id, "From" %>
    <%= f.select(:departing_airport_id, options_for_select(@departing_options)) %>

    <%= f.label :arriving_airport_id, "To" %>
    <%= f.select(:arriving_airport_id, options_for_select(@arriving_options)) %>

    <%= f.label :passenger_count, "Passengers" %>
    <%= f.select(:passenger_count, [1, 2, 3, 4]) %>

    <%= f.label :date, "Date" %>
    <%= f.datetime_select :date %>
    
    <%= f.submit "Search" %>
  <% end %>

  <h1>Avalible Flights</h1>
  <% @search_results.each do |f| %>
    <%= f.from %>
    <%= f.to %>
  <% end %>
