<h1>Flight Booker</h1>

<%= form_tag(root_path, method: :get) do %>
    <%= label_tag "departing_airport_id", "From" %>
    <%= select_tag(:departing_airport_id, options_for_select(@departing_options)) %>

    <%= label_tag "arriving_airport_id", "To" %>
    <%= select_tag(:arriving_airport_id, options_for_select(@arriving_options)) %>
    
    <%= submit_tag ("Search") %>
  <% end %>