<h1>Flight Booker</h1>

<%= form_with url: "/flights", method: :get, remote: true do |f| %>
    <%= f.label :departure_airport_id, "From" %>
    <%= f.select(:departure_airport_id, options_for_select(@departing_options)) %>

    <%= f.label :arrival_airport_id, "To" %>
    <%= f.select(:arrival_airport_id, options_for_select(@arriving_options)) %>

    <%= f.label :passenger_count, "Passengers" %>
    <%= f.select(:passenger_count, [1, 2, 3, 4]) %>

    <%= f.label :date, "Date" %>
    <%= f.datetime_select :date %>
    
    <%= f.submit "Search" %>
  <% end %>

<% unless @search_results.empty? %>
    <h1>Avalible Flights</h1>

    <%= form_with url: "bookings/new", method: :get do |f| %>
        <%= f.hidden_field :passenger_count, :value => @passengers %>

        <% @search_results.each do |flight| %>
            <div>
                <%= f.radio_button :flight_id, "#{flight.id}" %>
                <%= f.label :flight_id, "#{flight.from} - #{flight.to}" %>
            </div>
        <% end %>

        <%= f.submit "Submit" %>
    <% end %>
<% end %>
