<h1>Booking</h1>

<%= form_with model: @booking do |f| %>

    <p>ID: <%= @flight.id %>
    From: <%= @flight.from %>
    To: <%= @flight.to %>
    </p>

<%= f.hidden_field :flight_id, :value => @flight.id %>

    <%= f.fields_for :passengers do |p_form| %>
        <div>
            <%= p_form.label :name, "Name" %>
            <%= p_form.text_field :name %>

            <%= p_form.label :email, "Email" %>
            <%= p_form.text_field :email %>
        </div>
    <% end %>
    <%= f.submit "Book" %>
<% end %>

