<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
    screens: {
      'md': '860px',
    }
  }
    }
  </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% unless notice.nil? %>
    <div class="flex items-center justify-center h-8 bg-green-500 text-white text-lg "><%= notice %></div>
  <% end %>
    <div class="max-w-4xl m-auto">
      <%= yield %>
    </div>
  </body>
</html>
